<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="muzzamil_webstore" frontName="webstore" sortOrder="10">
            <module name="Muzzamil_Webstore"/>
        </route>
    </router>
</config>